@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
$sidebarWidth: 300px;

$headerHeight: 50px;

$headingTransitionTime: 0.5s;
// colors
$headerBg: #b2585f;
$sidebarBg: #eeeeee;

body {
	color: #3c3c3c;
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin flat-button ($background, $color, $selectedBackground, $selectedColor) {
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	background-color: $background;
	color: $color;
	border-radius: 2px;
	text-transform: uppercase;
	border: none;
	letter-spacing: .8px;
	padding: 8px 15px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
 	transition: all 0.5s ease-in-out;

 	&:hover {
 		background-color: darken($background, 15%);
 	}

 	&:focus {
 		outline: none;
 	}

	.fa {
		color: white;
		&.right {
			margin-left: 5px;
		}
		&.left {
			margin-right: 5px;
		}
	}

	&.selected {
		background-color: $selectedBackground;
		color: $selectedColor;
	}
}

.login {
	@include flat-button(#58b27e, white, #58b2ab, white);
	font-size: 14px;
}

.signup {
	@include flat-button(#D5C02B, white, #58b2ab, white);
	font-size: 14px;
}

.yes {
	@include flat-button(#58b27e, white, #58b2ab, white);
}

.maybe {
	@include flat-button(#D5C02B, white, #58b2ab, white);
}

.no{
	@include flat-button(#b2585f, white, #58b2ab, white);
}

.user{
	@include flat-button(rgba(0, 0, 0, 0.29), white, #58b2ab, white);
	line-height: 15px;
	text-transform: none;
	&:hover {
		background-color: rgba(0, 0, 0, 0.59);
	}
}

a.logout{
	@include flat-button(#FD7373, white, #58b2ab, white);
}

header#header {
	color: #fff;
	background: $headerBg;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;

	div#sidebar-logo {
		display: inline-block;
		text-align: center;
		width: $sidebarWidth;
		height: $headerHeight;
		line-height: $headerHeight;
		font-size: 20px;
		float: left;
	}

	#header-nav {
		float: left;
		padding-left: 10px;
		display: inline-block;
		a {
			@include flat-button(rgba(0,0,0,0), white, #58b27e, white);
			top: 7px;
		}
	}

	#user-info{
		float: right;
		height: $headerHeight;
		line-height: $headerHeight;
		padding-right: 30px;

		a {
			margin-left:5px;
			height: 15px;
			line-height: 12px;
		}
	}
}


#sidebar {
	background: $sidebarBg;
	position: absolute;
	top: $headerHeight;
	left:0;
	bottom:0;
	width: $sidebarWidth;
	border-right: 1px solid #eee;
}

div#content {
	position: absolute;
	top: $headerHeight;
	left: $sidebarWidth;
	right:0;
	bottom:0;
	overflow-y: auto;

	&.fullscreen {
		left: 0px;
	}

	a.add {
		@include flat-button(#39A1F4, white, #58b2ab, white);
		padding: 15px 25px;
	}

	.page-header {
		color: white;
		background: #3D84E2;
		position: fixed;
		height: 12px;
		line-height: 12px;
		padding: 20px;
		top: 50px;
		left: 301px;
		right: 0px;
		font-weight:600;
		font-size: 22px;
	}

	.page-section {
		padding: 10px;
		&.with-header {
			padding-top: 80px;
		}
	}

	.detail-header {
		padding: 20px;
		position: fixed;
		height: 12px;
		top: 50px;
		left: 301px;
		right: 0px;
		color: white;
		background: #3D84E2;
		height: 150px;
		transition: all $headingTransitionTime ease-in-out;

		.title {
			font-weight:600;
			font-size: 25px;
		}

		.data {
			margin-top:10px;
			font-weight: 300;
		}

		.project-controls {
			position: absolute;
			top: 140px;
			right: 30px;
			transition: all $headingTransitionTime ease-in-out;
			a {
				margin-left: 10px;
			}
		}

		&.shrinkAndFix {
			position: fixed;
			height: 12px;
			line-height: 12px;
			top: 50px;
			left: 301px;
			right: 0px;

			.data {
				display: none;
			}

			.project-controls {
				line-height: 21px !important;
				transition: all $headingTransitionTime ease-in-out;
				top: 8px;
			}
		}
	}

	.detail-section {
		padding: 10px;
		padding-top: 220px;
	}
}

.card {
	text-decoration:none;
	display:block;
	background:#fff;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	padding: 10px;
	cursor: pointer;
	.name {
		color: #3C3C3C;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.description {
		color: silver;
		font-weight: 300;
	}
	&.selected {
		background: #5E5E5E;
		.name {
			color: white;
		}
		.description {
			color: #E4E4E4;
		}
	}
	&:first-child {
		border-top: none;
	}
	&:not(:last-child) {
		border-bottom: none;
	}
}

input#search {
    font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
	padding: 5px 10px;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	border: 1px solid rgb(221, 221, 221);
	&:focus {
		outline: none;
		border-color: #b2585f;
	}
}

form {
	.help-block {
		display: none;
	}
	.inline {
		display: inline-block;
	}
	.half-screen {
		width: 45%;
		padding-left: 20px;
	}

	.full-screen {
		width: calc(1.08 * 90%);
		padding-left: 20px;
	}

	label {
		font-weight: 600;
	}
	.control-group {
		margin-bottom: 10px;
	}
	textarea {
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		color: #3C3C3C;
		padding: 5px 10px;
		border: 1px solid #ddd;
		font-size: 15px;
		width: 90%;
		height: 182px;
		margin-top: 5px;
		border-radius: 3px;
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}

	select {

	}

	select.selectmultiple {
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		height: 194px;
		width: calc(90% + 22px);
		font-size: 15px;
		color: #3C3C3C;
		padding: 5px 10px;
		border: 1px solid #ddd;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 3px;
		overflow-y: auto;
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
		option {
			padding: 5px;
			border-radius:2px;
			&:not(:first-child) {
				margin-top: 2px;
			}
			&:checked {
				background-color: red !important;
				color: red !important;
			}
		}

	}

	select {
		color: #3C3C3C;
		border: 1px solid #ddd;
		width: calc(90% + 22px);
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		padding: 5px 10px;
		height: 31px;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		border: 1px solid rgb(221, 221, 221);
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}

	input {
		color: #3C3C3C;
		border: 1px solid #ddd;
		width: 90%;
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		padding: 5px 10px;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		border: 1px solid rgb(221, 221, 221);
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}

}

.auth-form-container {
	.title {
		padding-top:10px;
		padding-bottom:10px;
		font-size: 24px;
	}
	.error {
		padding: 5px;
		color: #9E9E9E;
		margin-top:15px;
		.fa {
			margin-right: 5px;
		}
	}
	padding: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	input {
		height: 30px;
		font-size: 18px;
	}
	button {
		margin-right: 10px;
	}
}

