@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
$sidebarWidth: 300px;

$headerHeight: 50px;

$headingTransitionTime: 0.5s;
// colors
$headerBg: #4994A1;
$sidebarBg: #eeeeee;

body {
	color: #3c3c3c;
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@mixin rotate($duration) {
	-webkit-animation-name: spin;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@mixin flat-button ($background, $color, $selectedBackground, $selectedColor) {
	@include no-select();
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	background-color: $background;
	color: $color;
	border-radius: 2px;
	text-transform: uppercase;
	border: none;
	letter-spacing: .8px;
	padding: 8px 15px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
 	transition: all 0.5s ease-in-out;
 	user-select: none;

 	&:hover {
 		background-color: darken($background, 15%);
 	}

 	&:focus {
 		outline: none;
 	}

	.fa {
		color: white;
		&.right {
			margin-left: 5px;
		}
		&.left {
			margin-right: 5px;
		}
	}

	&.selected {
		background-color: $selectedBackground;
		color: $selectedColor;
	}
}

.login {
	@include flat-button(#58b27e, white, #58b2ab, white);
	font-size: 14px;
}

.signup {
	@include flat-button(#D5C02B, white, #58b2ab, white);
	font-size: 14px;
}

.yes {
	@include flat-button(#58b27e, white, #58b2ab, white);
}

.maybe {
	@include flat-button(#D5C02B, white, #58b2ab, white);
}

.settings {
	@include flat-button(#2DAEFD, white, #58b2ab, white);
}

.no{
	@include flat-button(#b2585f, white, #58b2ab, white);
}

.user{
	@include flat-button(rgba(0, 0, 0, 0.29), white, #58b2ab, white);
	line-height: 15px;
	text-transform: none;
	bottom: 1px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.59);
	}
}

a.logout{
	@include flat-button(#D75A5A, white, #58b2ab, white);
}

header#header {
	color: #fff;
	background: $headerBg;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;

	#sidebar-logo {
		@include no-select();
		display: inline-block;
		text-align: center;
		width: $sidebarWidth;
		height: $headerHeight;
		line-height: $headerHeight;
		font-size: 20px;
		float: left;
		color: white;
		text-decoration: none;
		.fa {
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			.fa {
				@include rotate(4000ms);
				color: #1DEC9D;
			}
		}
	}

	#header-nav {
		float: left;
		padding-left: 10px;
		display: inline-block;
		a {
			@include flat-button(rgba(0,0,0,0), white, rgba(0, 0, 0, 0.45), white);
			top: 7px;
		}
	}

	#user-info{
		float: right;
		height: $headerHeight;
		line-height: $headerHeight;
		padding-right: 30px;

		a {
			margin-left:5px;
			height: 15px;
			line-height: 12px;
		}
	}
}


#sidebar {
	background: $sidebarBg;
	position: absolute;
	top: $headerHeight;
	left:0;
	bottom:0;
	display:none;
	width: $sidebarWidth;
	border-right: 1px solid #eee;

	&.showSidebar {
		display: block;
	}

	.card-collection {
		background: #E4E4E4;
		height: calc(100% - 86px);
		overflow-y: auto;
	}

	.card {
		text-decoration:none;
		display:block;
		border: 1px solid #CBCBCB;
		margin: auto;
		width: 90%;
		background:#fff;
		padding: 10px;
		cursor: pointer;
		margin-bottom: 5px;
		border-radius: 2px;
		.name {
			color: #3C3C3C;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;
		}
		.indicator{
			float: right;
			transition: all 0.3s ease-in-out;
			color:rgba(0,0,0,0);
			font-size: 30px;
			position: relative;
			bottom: 13px;
			left: 10px;
		}
		.description {
			color: silver;
			font-size: 12px;
			font-weight: 300;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.fa {
				font-size: 4px;
				margin: 0px 5px;
				position: relative;
				bottom: 5px;
			}
		}
		&.selected {
			.indicator {
				color: rgb(215, 0, 0);
			}
		}
		&:first-child {
			margin-top: 2px;
		}
		&:not(:last-child) {
			margin-bottom: none;
		}
	}

	footer#sidebar-button-container {
		height: 40px; width: $sidebarWidth;
		background-color: rgba(0, 0, 0, 0.55);
		padding-top:5px;

		a {
			float: right;
			margin-right: 5px;
		}
	}
}

div#content {
	position: absolute;
	background-color: #f9f9f9;
	top: $headerHeight;
	left: $sidebarWidth + 1px;
	right:0;
	bottom:0;
	overflow-y: auto;

	&.fullscreen {
		left: 0px;
	}

	a.add {
		@include flat-button(#39A1F4, white, #58b2ab, white);
		padding: 15px 25px;
	}

	.page-header {
		color: white;
		background: #4968a1;
		position: fixed;
		height: 12px;
		line-height: 12px;
		padding: 20px;
		top: 50px;
		left: 301px;
		right: 0px;
		font-weight:600;
		font-size: 22px;
	}

	.page-section {
		padding: 10px;
		&.with-header {
			padding-top: 80px;
		}
	}

	.detail-header {
		padding: 20px 0px;
		margin: 10px auto;
		width: 98%;
		border-radius: 2px;
		color: white;
		background: #4968a1;
		max-height: 700px;
		transition: max-height 0.5s ease-in-out;

		.project-controls {
			position: absolute;
			top: 30px;
			right: 20px;
			a {
				margin-left: 10px;
			}
		}

		&.shrinkAndFix {
			width: auto;
			max-height: 12px;
			line-height: 12px;
			position:fixed;
			top: 45px;
			right: 26px;
			left: 311px;
			transition: max-height 1s ease-in-out;

			.data {
				display: none;
			}

			.project-controls {
				line-height: 21px !important;
				top: 8px;
				right: 12px;
			}
		}

		.title {
			padding-left: 20px;
			font-size: 25px;
			span {
				position: relative;
				font-size: 14px;
				font-weight: 400;
			}
		}

		.data {
			padding-left: 20px;
			margin-top:10px;
			font-weight: 300;
		}

		.currency {
			span {
				color: white;
			}
			.fa {
				font-size: 15px;
				color: white;
			}
			color: #00FF47;
			font-size: 20px;
			font-weight: 600;
		}

		.date {
			display: inline-block;
			margin-right: 30px;
			&.start {
				.fa {
					color: #72E4FF;
					margin-right: 5px;
				}
			}
			&.end {
				.fa {
					color: yellow;
					margin-right: 5px;
				}
			}
		}
	}

	.detail-section {
		background-color: #f9f9f9;
		padding: 0px 10px;

		#project-cards {
			overflow: hidden;

			.project-data-card {
				background: white;
				border-radius: 3px;
				float: right;
				width: 49%;
				border:1px solid #eee;
				margin-bottom: 10px;

				&:nth-child(odd){
					float: left;
				}

				.label {
					text-transform: uppercase;
					padding: 5px 10px;
				}

				.data {
					padding: 5px 10px;
					.staff {
						display: inline-block;
						padding: 3px 10px;
						border-radius: 15px;
						background-color: #B0D8FF;
						margin-right: 6px;
						margin-top:4px;
					}
				}
			}
		}

		#project-logs {
			display:block;
			width: 100%;
			background: #fff;
			.title {
				font-size: 18px;
				padding: 5px 10px;
				font-weight: 600;
			}

			.project-log {
				margin: auto;
				border-radius:2px;
				height: 50px;
				border: 1px solid #eee;
				border-left: 2px solid #FFCB00;
				margin-bottom: 5px;
			}
		}
	}
}


input#search {
    font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
	padding: 5px 10px;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	border: 1px solid rgb(221, 221, 221);
	&:focus {
		outline: none;
		border-color: #b2585f;
	}
}

form {
	.help-block {
		display: none;
	}
	.inline {
		display: inline-block;
	}
	.half-screen {
		width: 45%;
		padding-left: 20px;
	}

	.full-screen {
		width: calc(1.08 * 90%);
		padding-left: 20px;
	}

	label {
		font-weight: 600;
	}
	.control-group {
		margin-bottom: 10px;
	}
	textarea {
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		color: #3C3C3C;
		padding: 5px 10px;
		border: 1px solid #ddd;
		font-size: 15px;
		width: 90%;
		height: 182px;
		margin-top: 5px;
		border-radius: 3px;
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}

	select {

	}

	select.selectmultiple {
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		height: 194px;
		width: calc(90% + 22px);
		font-size: 15px;
		color: #3C3C3C;
		padding: 5px 10px;
		border: 1px solid #ddd;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 3px;
		overflow-y: auto;
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
		option {
			padding: 5px;
			border-radius:2px;
			&:not(:first-child) {
				margin-top: 2px;
			}
			&:checked {
				background-color: red !important;
				color: red !important;
			}
		}

	}

	select {
		color: #3C3C3C;
		border: 1px solid #ddd;
		width: calc(90% + 22px);
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		padding: 5px 10px;
		height: 31px;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		border: 1px solid rgb(221, 221, 221);
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}

	input {
		color: #3C3C3C;
		border: 1px solid #ddd;
		width: 90%;
		font-family: 'Source Sans Pro', sans-serif, 'FontAwesome';
		padding: 5px 10px;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		border: 1px solid rgb(221, 221, 221);
		&:focus {
			outline: none;
			border-color: #b2585f;
		}
	}
}

.auth-form-container {
	.title {
		padding-top:10px;
		padding-bottom:10px;
		font-size: 24px;
	}
	.error {
		padding: 5px;
		color: #9E9E9E;
		margin-top:15px;
		.fa {
			margin-right: 5px;
		}
	}
	padding: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	input {
		height: 30px;
		font-size: 18px;
	}
	button {
		margin-right: 10px;
	}
}

.dashboard-message {
	color: #DFDFDF;
	font-weight: 300;
	font-size: 25px;
	height: calc(100% - 175px);
	text-align: center;
	padding-top:175px;

	i {
		margin-top: 10px;
		font-size: 50px;
		color: white;
		background-color: #EFEFEF;
		border-radius: 70px;
		width: 100px; height: 100px;
		line-height: 100px;
	}


}

