<header class="detail-header">
	<div ng-show="selectedProject.name" class="title">{{ selectedProject.name }}</div>
	<div ng-show="selectedProject.description" class="data description">{{ selectedProject.description }}</div>
	<div ng-show="selectedProject.value" class="data currency"> <span>{{ selectedProject.currency }}</span> $ {{ selectedProject.value }}  </div>
	<div ng-show="selectedProject.start_date" class="data date start"><i class="fa fa-calendar-o"></i> {{ selectedProject.start_date }}</div>
	<div ng-show="selectedProject.start_date" class="data date end"><i class="fa fa-calendar-o"></i> {{ selectedProject.expected_end_date }}</div>
	<div class="project-controls">
		<a class="no">Delete Project</a>
		<a class="maybe">Update Logs</a>
	</div>
</header>
<section class="detail-section">
	<section id="project-cards">
		<div class="project-data-card">
			<div class="label">Status</div>
			<div class="data">{{ selectedProject.status }}</div>
		</div>
		<div class="project-data-card">
			<div class="label">Category</div>
			<div class="data">{{ selectedProject.category }}</div>
		</div>
		<div class="project-data-card">
			<div class="label">Lead Staff</div>
			<div class="data">
				<div class="staff" ng-repeat="staff in selectedProject.lead_staff"> {{ staff }} </div>
			</div>
		</div>
		<div class="project-data-card">
			<div class="label">Assisting Staff</div>
			<div class="data">
				<div class="staff" ng-repeat="staff in selectedProject.assisting_staff"> {{ staff }} </div>
			</div>
		</div>
	</section>
	<section id="project-logs">
		<div id="project-logs-container">
			<div ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="project-log">
			</div>
		</div>
	</section>
</section>
