<div class="auth-form-container">
	<div class="title">Login</div>
	<form ua-login>
		<input name="login" placeholder="Username"><br>
		<input name="password" placeholder="Password" type="password"><br>
		<br>
		<button class="login" type="submit">Log in</button>
		<a ui-sref="signup" class="signup">Sign Up</a>

		<p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin"></i></p>
		<p class="error" ng-show="error"> <i class="fa fa-bullhorn"></i> Login did not work, check your email and password and try again.</p>
	</form>
</div>